.contact-list {
    margin-left: 10px;
    min-width: 250px;
    max-width: 400px;
    float: left;
}

.contact {
    padding: 10px 10px;
    height: 40px;
    background-color: #3C3C44;
    margin-bottom: 15px;
    border-radius: 4px;
}

.contact:hover {
    cursor: pointer;
}

.contact-img {
    height: 40px;
    width: 40px;
    float: left;
    border-radius: 20px;
}

.contact-info {
    float: left;
    margin-left: 10px;
}

.contact-name {
    height: 20px;
    margin-top: 5px;
    font-size: 16px;
    color: white;
}

.contact-last-message {
    width: 200px;
    height: 20px;
    font-size: 13px;
}

.contact-last-message-author {
    float: left;
    margin-right: 5px;
    max-width: 20px;
    color: lightgray;
}

.contact-last-message-text {
    float: left;
    width: 175px;
    color: darkgray;
}