.msg-block {
    float: left;
    margin-left: 15px;
    width: 635px;
    height: 800px;
    background-color: #3C3C44;
}

.chat-header {
    height: 35px;
    padding: 5px 10px;
    background-color: #707078;
}

.chat-header-name {
    margin-top: 9px;
    color: white;
    font-size: 16px;
    float: left;
}

.chat-header-last-online {
    margin-top: 10px;
    font-size: 13px;
    color: darkgray;
    float: left;
    margin-left: 15px;
}

.chat-header-img {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    float: right;
}

.chat {
    word-wrap: break-word;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    margin: 10px 20px;
    height: 690px;
}

.chat::-webkit-scrollbar {
    display: none;
}

.chat {
    -ms-overflow-style: none;
    scrollbar-width: none;
}