<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body style="background-color: grey;">

<div class="main">
    <div class="left">
        <a href="/profile"><div class="left-btn">Личный кабинет</div></a>
        <a href="/me"><div class="left-btn">Моя страница</div></a>
        <a href="/feed"><div class="left-btn active-left-btn">Новости</div></a>
        <a href="/messages"><div class="left-btn">Сообщения</div></a>
        <a href="/subscriptions"><div class="left-btn">Подписки</div></a>
    </div>
    <div class="middle">
        <!--        content-->
    </div>
</div>

</body>
</html>