<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/auth.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script th:inline="javascript">
        let frontendData = [[${frontendData}]];
    </script>
</head>
<body class="body">

<div class="header">
    <div class="header-content">
        <div class="header-app-name">NotVK</div>
        <div class="header-middle">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div class="main">
    <div class="left"></div>
    <div id="app"></div>
</div>

<script type="module" src="/js/login.js"></script>

</body>
</html>