.reply-section {
    word-wrap: break-word;
}

.reply-el {
    padding: 10px 20px 0 20px;
    border-bottom: 1px #707078 solid;
    margin-bottom: 5px;
    min-height: 70px;
}

.reply-el:last-child {
    border-bottom: none;
}

.reply-el:last-child {
    margin-bottom: 0;
}

.reply-header {
    height: 40px;
}

.reply-author-img {
    height: 40px;
    width: 40px;
    float: left;
    border-radius: 20px;
}

.reply-info {
    width: 400px;
    float: left;
    margin-left: 15px;
}

.reply-info a{
    text-decoration: none;
}

.reply-author {
    height: 15px;
    margin-top: 7px;
    font-size: 15px;
    color: white;
}

.reply-datetime {
    height: 15px;
    font-size: 13px;
    color: darkgray;
}

.reply-action {
    width: 90px;
    height: inherit;
    float: right;
}

.reply-del-btn {
    margin-top: 5px;
    width: 25px;
    height: 25px;
    float: right;
}

.reply-del-btn:hover {
    cursor: pointer;
}

.reply-main {
    width: 620px;
}

.reply-text {
    min-height: 20px;
    width: 540px;
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.reply-like-section {
    height: 20px;
    width: 70px;
    margin: 10px 0;
}

.reply-btn {
    float: left;
    height: 20px;
    width: 20px;
}

.reply-btn:hover {
    cursor: pointer;
}

.reply-number {
    margin-left: 5px;
    height: 20px;
    min-width: 15px;
    float: left;
    font-size: 15px;
    color: darkgray;
}