.post-list {
    height: 600px;
}

.user-info {
    min-height: 270px;
    margin-bottom: 15px;
    color: white;
}

.user-info-left {
    padding: 15px;
    min-height: 240px;
    width: 160px;
    float: left;
    margin-right: 20px;
    background-color: #3C3C44;
}

.user-photo {
    width: 160px;
    height: 160px;
    border-radius: 80px;
}

.user-message-btn {
    padding-top: 4px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #707078;
    color: white;
    height: 22px;
}

.user-subscribe-btn {
    padding-top: 4px;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #707078;
    color: white;
    height: 22px;
}

.user-subscribe-btn:hover {
    cursor: pointer;
}

.user-info-right {
    min-height: 240px;
    padding: 15px 15px 5px 15px;
    width: 460px;
    float: left;
    background-color: #3C3C44;
}

.user-info-right-names {
    height: 55px;
}

.user-name {
    font-size: 22px;
}

.user-status {
    margin-top: 5px;
    font-size: 16px;
    color: darkgray;
}

.user-info-right-other {
    height: 135px;
    border-top: 1px solid #707078;
}

.user-info-line {
    font-size: 15px;
    margin-top: 5px;
}

.user-info-right-footer {
    height: 58px;
    border-top: 1px solid #707078;
}

.user-info-right-footer a{
    text-decoration: none;
    color: white;
}

.user-info-footer-box {
    margin-top: 10px;
    height: 48px;
    min-width: 85px;
    float: left;
    text-align: center;
}

.user-info-footer-box:hover {
    background-color: #707078;
}

.user-info-footer-box-caption {
    height: 20px;
    font-size: 14px;
    color: darkgray;
}

.user-info-footer-box-number {
    height: 20px;
    font-size: 22px;
}