
.body {
    background-color: #303038;
}

.main {
    width: 965px;
    min-height: 800px;
    margin: auto;
}

.left {
    float: left;
    width: 140px;
}

.left a {
    text-decoration: none;
}

.left-btn {
    padding: 5px;
    height: 30px;
    font-size: 17px;
    color: white;
}

.left-btn:hover {
    background-color: #707078;
}

.active-left-btn {
    background-color: #505068;
}

.active-left-btn:hover {
    background-color: #505068;
}

.middle {
    margin-left: 5px;
    float: left;
    width: 700px;
    min-height: 500px;
    padding: 5px;
}