<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${frontendData.user.name} + ' '  + ${frontendData.user.surname}"></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/posts/post.css">
    <link rel="stylesheet" href="/css/user_page/user_info.css">
    <link rel="stylesheet" href="/css/posts/comments/comments.css">
    <link rel="stylesheet" href="/css/posts/comments/replies.css">
    <link rel="stylesheet" href="/css/posts/comments/comment_form.css">
    <link rel="stylesheet" href="/css/posts/comments/reply_form.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script th:inline="javascript">
        let frontendData = [[${frontendData}]];
    </script>
</head>
<body class="body">

<div class="header">
    <div class="header-content">
        <div class="header-app-name">NotVK</div>
        <div class="header-middle">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <a th:href="@{/me}"><div class="header-profile">
            <img class="header-profile-img" src="/img/stock_avatar_m.png" alt=""/>
            <div class="header-profile-name" th:text="${frontendData.me.name} + ' ' + ${frontendData.me.surname}"></div>
        </div></a>
    </div>
</div>

<div class="main">
    <div class="left">
        <a href="/profile"><div class="left-btn">Личный кабинет</div></a>
        <a href="/me"><div class="left-btn">Моя страница</div></a>
        <a href="/feed"><div class="left-btn">Новости</div></a>
        <a href="/messenger"><div class="left-btn">Сообщения</div></a>
        <a href="/subscriptions"><div class="left-btn">Подписки</div></a>
    </div>
    <div id="app"></div>
</div>

<script src="/js/user.js"></script>

</body>
</html>